.container {
    background-color: #F8F9F9;
}

.product_item {
    line-height: 1.5;
    padding: 0 0 64px 30px;

}

.product_img img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.product_title {
    font-size: 22px;
    font-weight: 600;
}

.product_category {
    font-size: 18px;
}

.product_price {
    font-size: 18px
}

.product_supplier,
.product_total,
.product_not_discount,
.product_price,
.product_category {
    font-size: 20px;
    font-weight: 300;
}

.product_price {
    text-decoration: line-through 1.25px solid #000000;
    padding: 0 15px 0 15px;
}

.product_button button {
    max-width: max-content;
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f05e8a;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid #f05e8a;
    transition: 0.5s;
    color: white !important;
}

.product_button button:hover {
    background-color: #fff;
    font-weight: 600;
    color: #f05e8a !important;
}

.product_item :hover {
    opacity: 0.9;
    color: #f05e8a;
}

@media (max-width: 500px) {
    .product_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .product_button button {
        padding: 6px 10px;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .product_list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
    }

    .product_button button {
        padding: 5px 10px;
    }

    .product_price span {
        font-size: 13px;
    }
}

.shop_wrapper {
    margin: 48px auto 0;
    padding: 0 48px 0 48px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 32px;
}

.header_title {
    color: #111111;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
}

.header_nav_button {
    display: flex;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}

.header_nav_button span {
    display: block;
    padding-right: 8px;
}

.shop_slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 101, 91);
    overflow: hidden;
    margin-bottom: 20px;
}

.shop_slider img {
    display: block;
    padding: 5px 4px;
    border-radius: 12px;
    max-width: 100%;
}