.productDetail {
    color: #000;
    background-color: #f4f4f4;
    display: flex;
    max-width: 100%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.productDetail_information {
    margin-top: 64px;
    line-height: 2;
}

.productDetail_img img {
    width: 400px;
    margin-right: 64px;
}

.productDetail_name {
    letter-spacing: 0.007em;
    font-weight: 600;
    font-size: 28px;
}

.productDetail_description {
    font-size: 22px;
    color: #7e7e7e;
}

.productDetail_price {
    font-size: 22px;
    color: #818181;
    font-weight: 300;
    text-decoration: line-through 1.25px solid #000000;
}

.productDetail_discount {
    font-size: 22px;
}

.productDetail_total {
    font-size: 22px;
    margin-left: 20px;
}

.productDetail_add_cart button {
    width: 100%;
    padding: 18px 24px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    margin-top: 24px;
    line-height: 1.5;
    cursor: pointer;
}

.productDetail_add_cart button:hover {
    background: rgba(0, 0, 0, 0.75);
    transition: 1s linear;
}

@media (max-width: 500px) {
    .productDetail {
        color: #000;
        display: inline-block;
        max-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .productDetail_information {
        line-height: 1.5;
        margin: 24px 64px 0 64px;
    }

    .productDetail_img {
        width: 100%;
    }

    .productDetail_add_cart button {
        width: 100%;
        padding: 18px 24px;
        border-radius: 30px;
        font-weight: 600;
        font-size: 20px;
        background: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        margin-top: 24px;
        line-height: 1.5;
    }
}