.form {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
}

.form_item {
    padding: 24px;
    width: 80%;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #000;
    color: #fff;
}

.form_title {
    text-align: center;
    font-size: 48px;
}

.form_item Input {
    height: 30px;
}